<div class="slider">
  <ion-slides    [options]="slideOption"  autoplay="2000">
    <ion-slide>
      <ion-card>
        <img src="https://i.pinimg.com/originals/e6/43/64/e643645627d0b2f33c2456e2fee0398d.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img
                src="https://image.shutterstock.com/image-photo/surreal-image-african-elephant-wearing-260nw-1365289022.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img
                src="https://image.shutterstock.com/image-photo/surreal-image-african-elephant-wearing-260nw-1365289022.jpg">
      </ion-card>
    </ion-slide>

  </ion-slides>
</div>